.cor_cinza{
   color: #b2b2b2;
}
.cor_amarela{
    color: #ffbb00;
}
.cor_cinco{
    color: #B2B2B2;
}
.cor_seis{
    color: #9C9C9C;
}
.cor_branca{
    color: #FFF;
}
.cor_11{
    color: #111;
}
.cor_8{
    color: #595959;
}
.cor_9{
    color: #404040;
}